<div class="p-2">
    <h3 class="mb-4">Mon profile</h3>


    <div class="d-flex flex-row justify-content-between">
        <div class=" mb-3 col-6 me-1">
            <div class="card p-3">

                <h4  class="text-center mb-4">Information personnel</h4>

                <div class="mb-1">
                    <label for="">Prénoms</label>
                    <input type="text" class="form-control" id="firstname" placeholder="prénom">
                </div>
                <div class="mb-1">
                    <label for="">Nom</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Nom">
                </div>
                
                <div class="mb-form mb-3">
                    <label for="IBAN">Email</label>
                    <input type="email" id="form2Example2" class="form-control" placeholder="mail@mail.com" />
                </div>
            </div>

        </div>
        <div class=" mb-3 col-6">
            <div class="card p-3">
               <h4 class="text-center mb-4">Adresse</h4> 

                <div class="mb-1">
                    <label for="street">Adresse</label>
                    <input type="text" class="form-control" id="street" placeholder="Adresse">
                </div>
                <div class="mb-1">
                    <label for="">Code postale</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Nom">
                </div>
                
                <div class="mb-form mb-3">
                    <label for="city">Ville :</label>
                    <input type="text" id="form2Example2" class="form-control" placeholder="ville" />
                </div>
            </div>

        </div>

        
    </div>
</div>
