<div class="p-2">
    <h3 class="mb-4">Nouveau contact</h3>

    <div class="card p-3">
        
        <div class="mb-1">
            <label for="">Prénoms</label>
            <input type="text" class="form-control" id="firstname" placeholder="prénom">
        </div>
        <div class="mb-1">
            <label for="">Nom</label>
            <input type="text" class="form-control" id="lastname" placeholder="Nom">
        </div>
        
        <div class="mb-form mb-3">
            <label for="IBAN">IBAN</label>
            <input type="password" id="form2Example2" class="form-control" placeholder="AB12 9856 4712 1234" />
        </div>

        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-link">
                <em class="fas fa-times"></em>&nbsp; Annuler
            </button>
            <button type="button" class="btn btn-danger">
                <em class="fas fa-save"></em>&nbsp; Envoyer
            </button>
        </div>
    </div>
</div>