<div style="margin-top: 100px;">   
    <div style="margin:auto; width : 30%;">
        <form>

            <div class="card p-4 z-depth">
                
                <div class="text-center mb-4">
                    <h3>Connexion</h3>
                </div>

                <!-- Email input -->
                <div class="mb-form mb-4">
                    <label for=""></label>
                    <input type="email" id="form2Example1" class="form-control" placeholder="Adresse email"/>
                </div>
            
                <!-- Password input -->
                <div class="mb-form mb-4">
                    <input type="password" id="form2Example2" class="form-control" placeholder="Mot de passe" />
                </div>

            
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Se connecter</button>
            
                <!-- Register buttons -->
                <div class="text-center">
                    <p>Créer un compte? <a href="#">Register</a></p>
                </div>
            </div>
        </form>
    </div>
</div> 