<div style="margin-top: 100px;">   
    <div style="margin:auto; width : 30%;">
        <form>

            <div class="card p-4 z-depth">
                
                <div class="text-center mb-4">
                    <h3>Connexion</h3>
                </div>
                <div class="alert alert-danger" role="alert mb-4" *ngIf="errorMessages.length">
                    <p *ngFor="let msg of errorMessages">{{msg}}</p>
                </div>
                <!-- Email input -->
                <div class="mb-form mb-4">
                    <input type="email" id="email" class="form-control" placeholder="Adresse email" name="email" [(ngModel)]="authRequest.email"/>
                </div>
            
                <!-- Password input -->
                <div class="mb-form mb-4">
                    <input type="password" id="password" class="form-control" placeholder="Mot de passe" name="password" [(ngModel)]="authRequest.password"/>
                </div>

            
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4" (click)="login()">Se connecter</button>
            
                <!-- Register buttons -->
                <div class="text-center">
                    <p>Créer un compte? <a routerLink="/register">Register</a></p>
                </div>
            </div>
        </form>
    </div>
</div> 