<div style="margin-top: 100px;">
    <div style="margin: auto;width: 40%;">

        <form>
            <div class="card p-4 z-depth">

                <div class="text-center mb-6">
                    <h3>Inscription</h3>
                </div>

                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                <div class="col">
                    <div class="mb-form">
                    <input type="text" id="form3Example1" class="form-control" placeholder="Prénom"/>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-form">
                        <input type="text" id="form3Example2" class="form-control" placeholder="Nom"/>
                    </div>
                </div>
                </div>
            
                <!-- Email input -->
                <div class="mb-form mb-4">
                    <input type="email" id="form3Example3" class="form-control" placeholder="Adresse email"/>
                </div>
                <div class="mb-form mb-4">
                    <input type="email" id="form3Example3" class="form-control" placeholder="Confirmez votre adresse email"/>
                </div>
            
                <!-- Password input -->
                <div class="mb-form mb-4">
                    <input type="password" id="form3Example4" class="form-control" placeholder="Mot de passe"/>
                </div>
                <div class="mb-form mb-4">
                    <input type="password" id="form3Example4" class="form-control" placeholder="Confirmez le mot de passe"/>
                </div>
            
            
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Créer</button>
            

                <!-- Register buttons -->
                <div class="text-center">
                    <p>Vous avez déja un compte? <a href="#">Connexion</a></p>
                </div>
            </div>
          </form>







    </div>
</div>