<div class="p-3">
    <h3>Mes transactions</h3>

       
    <div class="d-flex justify-content-end mb-3">
       <a [routerLink]="'/user/new-transaction'"> <button type="button" class="btn btn-primary"><span class="fas fa-plus">&nbsp; </span>Nouvelle transaction</button></a>
    </div>
    

    <div class="card">

        
        <table class="table table-bordered text-center">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Montant</th>
                <th scope="col">IBAN</th>
                <th scope="col">Type</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let trs of transactions">
                <th scope="row">{{trs.transactionDate}}</th>
                <td>
                    <span [class.text-danger]="trs.type === 'Transfert'"
                    [class.text-success]="trs.type === 'depot'"
                    >
                    {{trs.amount}}
                    </span>
                </td>
                <td>{{trs.destinationIban}}</td>
                <td>
                    <span class="badge" [class.bg-warning]="trs.type === 'Transfert'"
                    [class.bg-success]="trs.type === 'depot'"
                    >
                        {{trs.type}}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>