<div class="container mt-4">

    <div class="d-flex flex-row mb-5">

        <div class="card  col text-center">
            <div class="card-body">
              <h5 class="card-title">Solde</h5>
              <p class="card-text">8 968.41€</p>
            </div>
        </div>
        <div class="card  col text-center">
            <div class="card-body">
              <h5 class="card-title">Transfert le plus élèvé</h5>
              <p class="card-text">5 8690 €</p>
            </div>
        </div>
        <div class="card  col text-center">
            <div class="card-body">
              <h5 class="card-title">Dépot le plus élèvé</h5>
              <p class="card-text">5 8690 €</p>
            </div>
        </div>
        
    </div>

    <div class="">
        <div class="card  col text-center">
            <div class="card-body">
              <h5 class="card-title">Dépot le plus élèvé</h5>
              <p class="card-text">5 8690 €</p>
            </div>
        </div>
    </div>
</div>